/QCres/*.gz
/reference_genome/Homo_sapiens.GRCh38.104.gtf
/reference_genome/Homo_sapiens.GRCh38.dna.primary_assembly.fa
/reference_genome/hisat2_index/
/bam/sams/*.sam
/bam/sam2bam_result/*.bam
/bam/sorted_bams/*.bam
/bam/bam_idxs/*.bai
/R_scripts/*.Rproj
/R_scripts/*.user/
/R_scripts/featurecounts.txt
/R_scripts/.Rdata
.Rproj.user
